/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-about-active {
  background-image: url(./sprite.png);
  background-position: 0px 0px;
  width: 52px;
  height: 50px;
}
.icon-about {
  background-image: url(./sprite.png);
  background-position: 0px -50px;
  width: 52px;
  height: 50px;
}
.icon-contact-active {
  background-image: url(./sprite.png);
  background-position: 0px -100px;
  width: 50px;
  height: 50px;
}
.icon-contact {
  background-image: url(./sprite.png);
  background-position: 0px -150px;
  width: 50px;
  height: 50px;
}
.icon-home-active {
  background-image: url(./sprite.png);
  background-position: 0px -200px;
  width: 50px;
  height: 50px;
}
.icon-home {
  background-image: url(./sprite.png);
  background-position: 0px -250px;
  width: 50px;
  height: 50px;
}
.icon-more {
  background-image: url(./sprite.png);
  background-position: 0px -300px;
  width: 50px;
  height: 50px;
}
.icon-scan {
  background-image: url(./sprite.png);
  background-position: 0px -350px;
  width: 50px;
  height: 50px;
}
